.wrapper
  margin-top 4u
  +desktop()
    margin-top 5u
  
.list
  flex-direction row
  margin-top 4u

.size
  color #888888
  font-size 2u
  font-weight 600
  text-transform uppercase
  margin-left 2u
  &.first
    margin-left 0