.wrapper
  padding 6u 2u
  +tablet()
    padding 12u 6u
  +desktop()
    flex-direction row
  +wide()
    padding 12u 11u 8u

.sidebar
  +desktop()
    width 30%
    padding-right 3u

.products
  +desktop()
    width 70%
    padding-left 3u