.root
  flex-direction column
  +tablet()
    flex-direction row

.searchResults, 
  flex-direction row
  +desktop()
    margin-left 2u

.txt, .red
  font-size 2.5u
  font-weight 600

.txt
  color #6c6c6c

.red
  color red

.sortLabel
  color #6c6c6c
  font-size 2.5u
  font-weight 600
  margin 0
  +tablet()
    margin-left 1u

.sorting
  flex-direction row
  margin-left 0
  margin-top 2u
  margin-bottom 2u
  +tablet()
    margin-top 0
    margin-bottom 0
    margin-left 8u

.sortSelect
  flex-direction row
  width 14u
  align-items center
  justify-content space-between

.sortValue
  color #090909
  font-size 2.5u
  padding-left 1u

.icon
  fill #090909