.wrapper
  width 100%
  margin-bottom 5u

.slider
  display flex
  flex-direction row
  margin-bottom 2u

.leftSlider
  background #b7b7b7 none repeat scroll 0 0
  height 2u
  width 0.5u

.middleSlider
  background #ebebeb none repeat scroll 0 0
  color #222222
  height 0.5u
  flex-basis 99%
  align-self center

.rightSlider
  background #b7b7b7 none repeat scroll 0 0
  height 2u
  width 0.5u

.prices
  width 100%
  justify-content space-between

.prices, .price
  flex-direction row

.price
  color #575757
  font-weight 600

.priceLabel, .priceInput
  color #575757
  font-size 2u
  font-weight 600
  text-transform capitalize

.priceInput
  transparent none repeat scroll 0 0
  border none
  width 12u
  padding-left 0.5u

.filter
  justify-self flex-end