.wrapper
  width 100%
  margin-top 6u

.slider
  flex-direction row
  margin-top 2u

.leftSlider
  background #b7b7b7 none repeat scroll 0 0
  height 2u
  width 0.5u

.middleSlider
  background #ebebeb none repeat scroll 0 0
  color #222222
  height 0.5u
  flex-basis 99%
  align-self center

.rightSlider
  background #b7b7b7 none repeat scroll 0 0
  height 2u
  width 0.5u

.prices
  margin-top 2u
  width 100%
  justify-content space-between
  justify-items center

.prices, .price
  flex-direction row

.price
  color #575757
  font-weight 600

.priceLabel, .priceInput, .filter
  color #575757
  font-size 2u
  font-weight 600
  text-transform capitalize

.priceInput
  border none
  width 12u
  padding-left 0.5u

.filter
  margin-left auto