.root
  padding-bottom 9u
  padding-top 9u
  +tablet()
    padding-bottom 15u
    padding-top 15u
  +desktop()
    padding-bottom 25u
    padding-top 25u

.wrapper
  width 100%
  margin auto
  padding 0 2u
  +tablet()
    max-width 70u
  +desktop()
    max-width 120u
  +wide()
    max-width 150u

.title
  font-size 4u
  font-weight bold
  color #585858
  margin-bottom 2u

.navLinks
  flex-direction row

.navLink
  font-weight 600
  text-transform uppercase
  color #7c7c7c
  &.focused
    color #585858