.root
  background-image url(/assets/breadcrumb.jpg)
  background-size cover
  background-position 48% center
  padding-bottom 8u
  padding-top 7u

.wrapper
  width 100%
  margin auto
  padding 0 2u
  +tablet()
    max-width 90u
  +desktop()
    max-width 120u
  +wide()
    max-width 160u

.title
  font-size 4u
  text-transform uppercase
  font-weight bold
  color #585858

.navLinks
  flex-direction row

.navLink
  font-weight 600
  text-transform uppercase
  color #7c7c7c
  &.focused
    color #585858