.list
  flex-direction row
  margin-bottom 4u

.img
  height 11u
  width 11u

.right
  margin-left 2.5u

.title
  color #6c6c6c
  font-size 2u
  font-weight 600

.price
  color #8b8b8b
  font-weight 600