.menu
  flex-direction row
  margin 0
  padding 0
  display none
  +desktop()
    display flex

.menuItem
  margin 0 2u
  justify-content center

.txt
  color #474747
  font-size 2u
  line-height 4u
  font-weight 700

.link
  text-decoration none
  line-height 2u
  border-bottom dotted 1px