.footer
  background #f5f5f5
  padding 6u 2u
  +tablet()
    padding 10u 2u
  +desktop()
    padding 12u 2u

.container
  padding-left 2u
  padding-right 2u
  margin-left auto
  margin-right auto
  margin-left -2u
  margin-right -2u
  flex-wrap wrap
  width 100%
  +tablet()
    align-items center
    flex-flow row wrap
    justify-content space-between
  +desktop()
    flex-direction row
    align-items flex-start

.first
  // max-width 100%
  position relative
  flex-grow 0
  flex-shrink 0
  flex-basis 100%
  +tablet()
    flex-basis 40%
  +desktop()
    flex-basis 25%

.second
  margin-top 4u
  // max-width 100%
  position relative
  flex-grow 0
  flex-shrink 0
  flex-basis 100%
  +tablet()
    flex-basis 60%
    align-items center
  +desktop()
    flex-basis 50%
    margin-top 0

.logo
  font-size 5u
  font-weight 600

.logoDot
  color red

.menu
  flex-direction row
  margin-top 2u

.line
  border-bottom 1px solid #474747
  width 20u
  margin-top 1u
  margin-bottom 1u

.third
  width 100%
  margin-top 4u
  +desktop()
    flex-basis 25%
    align-items flex-end
    margin-top 0

.title
  font-size 3u
  font-weight 300
  color white
  line-height 6u
  margin-bottom 2u

.txt
  font-size 2u
  line-height 3u
  color #585858
  margin-bottom 2u
  font-weight 300

.copyright
  margin-top 1u
  