.btn
  background-color transparent
  border 1px solid #dcdcdc
  padding 0 2u
  height 5u
  justify-content center
  align-items center
  margin-left 2u
  +tablet()
    margin-left 3u

.icon
  color #fff;
  stroke: black;
  stroke-width: 10;
  width 3u
  height 3u
  &.added
    color red