.container
  margin-bottom 4u

.txt
  color #585858

.link
  border-bottom-width 1px
  border-bottom-color #585858
  border-style dashed
  border-radius 1px

.linkTxt
  text-decoration none
  line-height 2u
  color #585858
